.RoomHistory {
  max-width: 800px;
  margin: 0 auto;
}

.RoomHistory-clear {
  margin: 32px 0;
}

.EmptyHistory {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;;
}
