@import '_common';

// only content
$default-nav-height: 52px;
$mobile-nav-hieght: 48px;

.Navigation {
  overflow: hidden;
  padding: 16px 0;
  background-color: #ffffff;
}

.Navigation-flex-container {
  // following hide the scroll bar while still scrollable
  margin-bottom: -50px; /* maximum width of scrollbar */
  padding-bottom: 50px; /* maximum width of scrollbar */
  overflow-y: hidden;
  overflow-x: scroll;

  display: flex;
  justify-content: flex-start;
  height: $default-nav-height;
}

.VIEWPORT_MOBILE .Navigation-flex-container {
  height: $mobile-nav-hieght;
}

.Navigation-flex-container > div {
  line-height: $default-nav-height;
  flex-grow: 0;
  flex-shrink: 0;
}

.VIEWPORT_MOBILE .Navigation-flex-container > div {
  line-height: $mobile-nav-hieght;
}

.Navigation-logo {
 padding: 0 16px;
}

.Navigation-tab a {
  padding: 0 16px;
  position: relative;
  opacity: .9;
  transition: .3s;
}

.Navigation-tab a:hover {
  opacity: 1;
}

.Navigation-tab a:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $theme-color-var1;
}

.Navigation-logo a, .Navigation-logo img, .Navigation-tab a {
  display: inline-block;
  height: $default-nav-height;
}

.VIEWPORT_MOBILE .Navigation-logo a, 
.VIEWPORT_MOBILE .Navigation-logo img,
.VIEWPORT_MOBILE .Navigation-tab a {
  height: $mobile-nav-hieght;
}

.Navigation-text-link {
  font-size: 1.8rem;
  font-weight: $font-weight-bold;
}

.Navigation-text-link-selected {
  color: $theme-color-var1;
}
