// This file cannot contain any rule that outputs plain css.
// Otherwise, the output will be duplicated after the build.
// Component stlyes can import this file. However, `index.scss`
// has more css classes that could be directly used on templates.

// font weights
$font-weight-light: 300;
$font-weight-primary: 400;
$font-weight-bold: 500;
$font-weight-black: 900;

// font sizes
$font-size-tiny: 1.2rem;
$font-size-small: 1.4rem;
$font-size-primary: 1.6rem;
$font-size-big: 2.4rem;

// font families
$font-family-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", SimHei, sans-serif;

@mixin font($font-weight, $font-size, $font-family) {
  font-weight: $font-weight;
  font-size: $font-size;
  font-family: $font-family;
}

// text colors
$text-color-primary: #333333;
$text-color-var1: #ffffff;
$text-color-var2: #eeeeee;
$text-color-var3: #c7c4c3;
$text-color-var4: #777777;

// link colors
$link-color-primary: #6a98e2;
$link-color-var1: #ef5353;

// background colors
$bg-color-dark: #2e3235;
$bg-color-dark-var1: #4b5058;
$bg-color-light: #ffffff;
$bg-color-warning: #ffcc00;
$bg-color-critical: #ef5353;
$bg-color-success: #27aa39;

// theme colors
$theme-color-primary: #ffee00;
$theme-color-var1: #527c9b;

// box shadows
$box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 2px 2px 1px 0 rgba(20, 23, 28, .1);
$box-shadow-focus: 0 2px 8px 2px rgba(20, 23, 28, .15);
// more shadows
$box-shadow-var1: 0 2px 6px rgba(0, 0, 0, .1);
$box-shadow-var2: 0 2px 18px rgba(0, 0, 0, .1);
$box-shadow-var3: 0 2px 18px rgba(0, 0, 0, .2);
$box-shadow-var4: 0 2px 18px rgba(0, 0, 0, .3);

// us this as box shadow
$focus-outline: 0 0 4px 2px rgba(108, 165, 231, 0.70);

// z-index
$z-index-navbar: 1000;
$z-index-overlay: 2000;
$z-index-bubble: 3000;
$z-index-fullscreen-shade: 4000;
$z-index-fullscreen-overlay: 5000;
$z-index-banner-list: 6000;
$z-index-toast: 7000;
