@import '_common';

.Demo {
  color: $text-color-var2;
  padding: 60px 0;
  overflow: hidden;
  background-color: #5c6ac4;
}

.Demo-flex-container {
  display: flex;
  flex-wrap: wrap;
}

.Demo-player-container {
  flex-grow: 1;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 50%;
  min-width: 380px;
  padding: 10px 20px;
}

.DemoPlayer-sync-player {
  width: 100%;
  max-width: 1080px;
  box-shadow: $box-shadow-var4;
  overflow: hidden;
  border-radius: 8px;
}

.Demo-text-container {
  padding: 48px 32px;
  text-align: center;
  box-sizing: border-box;
  max-width: 800px;
  margin: 0 auto;
}

.Demo-text-title {
  font-size: 3.6rem;
}

.VIEWPORT_MOBILE .Demo-text-title {
  font-size: 3.2rem;
}

.Demo-text-desc {
  margin-top: 20px;
}
